<p>
	<strong>Commenter</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>Comment</strong>
	<%= comment.body %>
</p>

<p>
	<%= link_to 'Hapus Komentar', [comment.article, comment], method: :delete, data: {confirm: 'Anda Yakin ?'} %>
</p>