<h1><center>Daftar Hadir</center></h1>

<a href= "/articles/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Absen Dulu !</a><br><br>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <table class="table table-striped table-bordered table-responsive ">
      <thead class="table-dark" >
      <tr align="center">
        <th>No</th>
        <th>Nama</th>
        <th>Email</th>
        <th>Telepon</th>
        <th>Alamat</th>
        <th>Hobi</th>
        <th colspan="2">Action </th>
        
      </tr>
      </thead>
     
      <% @articles.each_with_index do |article, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= article.nama %></td>
          <td><%= article.email %></td>
          <td><%= article.telepon %></td>
          <td><%= article.alamat %></td>
          <td><%= article.hobi %></td>

          <td><%= link_to 'Show', article_path(article) %></td>
          <!-- <td><%= link_to 'Edit', edit_article_path(article) %></td> -->
          <td><%= link_to 'Hapus', article_path(article), method: :delete, 
            data: { confirm: 'Anda Yakin?'} %> </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-6 col-sm-6">
    
    <%= image_tag("aaas.jpeg", class: "img-fluid img-responsive") %>

  </div>
</div> 
