<p>
	<strong>nama</strong>
	<%= @article.nama %>
</p>

<p>
	<strong>email</strong>
	<%= @article.email %>
</p>

<p>
	<strong>telepon</strong>
	<%= @article.telepon %>
</p>

<p>
	<strong>alamat</strong>
	<%= @article.alamat %>
</p>

<p>
	<strong>hobi</strong>
	<%= @article.hobi %>
</p>
	<h2>Comments</h2>
	<%= render @article.comments %>
	
	<h2>Tambahkan Komentar: </h2>
	<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article)%>