<%= form_with(model: motor, local: true) do |form| %>
  <% if motor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motor.errors.count, "error") %> prohibited this motor from being saved:</h2>

      <ul>
      <% motor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %><br>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :telepon %><br>
    <%= form.text_field :telepon %>
  </div>

  <div>
    <%= form.label :alamat %><br>
    <%= form.text_area :alamat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
