<p id="notice"><%= notice %></p>

<h1>Motors</h1>

<div class="row">
  <div class="">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Email</th>
          <th>Telepon</th>
          <th>Alamat</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @motors.each do |motor| %>
          <tr>
            <td><%= motor.nama %></td>
            <td><%= motor.email %></td>
            <td><%= motor.telepon %></td>
            <td><%= motor.alamat %></td>
            <td><%= link_to 'Show', motor %></td>
            <td><%= link_to 'Edit', edit_motor_path(motor) %></td>
            <td><%= link_to 'Destroy', motor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Motor', new_motor_path %>
