<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @motor.nama %>
</p>

<p>
  <strong>Email:</strong>
  <%= @motor.email %>
</p>

<p>
	<strong>Telepon:</strong>
	<%= @motor.telepon %>
</p>

<p>
	<strong>Alamat:</strong>
	<%= @motor.alamat %>
</p>

<%= link_to 'Edit', edit_motor_path(@motor) %> |
<%= link_to 'Back', motors_path %>
